<div class="artist--full full">
  <div class="artist--cover cover">
    {{ content.field_image }}
  </div>
  <div class="artist--birthday birthday">
    {{ content.field_date_of_birth }}
  </div>
  <div class="artist--place place">
    {{ content.field_place_of_birth }}
  </div>
  <div class="artist--deathday deathday">
    {{ content.field_date_of_death }}
  </div>
  <div class="artist--website website">
    {{ content.field_website }}
  </div>
  <div class="artist--popularity popularity">
    {{ content.field_popularity }}
  </div>
  <div class="artist--bio bio">
    {{ content.field_bio }}
  </div>
  <div class="artist--gallery gallery">
    {{ content.field_gallery }}
  </div>
  <div class="artist--movies movies">
    {{ content.field_actor_movies }}
  </div>
</div>
